<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title> CotaBox Challenge</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="bg-primary">
        <form action="/user" method="POST" onsubmit="formCheck(event, this)">
            <input type="text" name="name" id="name" placeholder="First name" >
            <input type="text" name="lastName" id="lastName" placeholder="Last name" >
            <input type="number" name="participation" id="participation" placeholder="Participation">
            <button><b>SEND</b></button>
        </form>
    </header>

    <main>
        <div id="text">
            <h3>DATA</h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        </div>

        <div id="container">
            <div onloadeddata="teste()">
                <table  id="table" class="content-table">
                    <tr>
                        <th>  </th>
                        <th class="testando">First name</th>
                        <th>Last name</th>
                        <th>Participation</th>
                        <th>Ação</th>
                    </tr>
                    <%users.forEach((user) =>{%>
                        <tr>

                            <td><%=id++%></td>
                            <td><%=user.name%></td>
                            <td><%=user.lastName%></td>
                            <td><%=user.participation%></td>
                            <td>
                                <form action="/deleteUser" method= 'POST' style="display: inline">
                                    <input type="hidden" name="_id" value="<%= user._id %>">
                                    <button>Deletar</button>
                                </form>
                            </td>
                        </tr>
                        
                    <%})%>
                    
                </table>
            </div>
            <div class="relative">
                <canvas id="myChart">
                
                </canvas>
            </div>


        </div>
    </main>

    <footer>
        Todos os direitos reservados.
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script>

    function getRandomRgb() {
    var num = Math.round(0xffffff * Math.random());
    var r = num >> 16;
    var g = num >> 8 & 255;
    var b = num & 255;
    return 'rgb(' + r + ', ' + g + ', ' + b + ')';
    }


    let table = document.getElementById('table'), sumVal = 0;   
    let names = []
    let participation = []
    for(let i =1; i < table.rows.length; i++){
        sumVal = sumVal + parseInt(table.rows[i].cells[3].innerHTML) 
        names.push(table.rows[i].cells[1].innerHTML + ' ' + table.rows[i].cells[2].innerHTML)
        participation.push(table.rows[i].cells[3].innerHTML)
    }
    console.log(sumVal)
    console.log(names)
    console.log(participation)


    let backColor = []
    for(let i = 0; i < names.length; i++){
        backColor.push(getRandomRgb())
    }
    console.log(backColor)
    let ctx = document.getElementById('myChart')
    let myChart = new Chart(ctx,{
        type: 'doughnut',
    data: {
        labels: names,
        datasets: [{
            data: participation,
            backgroundColor: backColor
                
        ,

            borderWidth: 5
        }]
    },
    options:{
        legend:{
            display: true,
            position:'right'
        }
    }

    })

    function formCheck(event, form){
        event.preventDefault()
        let name = document.getElementById('name').value
        let lastName = document.getElementById('lastName').value
        let participation = document.getElementById('participation').value
        if(name.length != 0 && lastName.length != 0 && participation.length != 0){
            form.submit()
        }else{
            alert('Por favor, preencha todos os dados')
        }
    }
    
</script>
</html>